/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

/* NAV INTRO  */
.intro {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.intro .content {
  color: white;
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}
.intro .content .left p{
  margin-bottom: 0px;
}
.intro .content .right {
  display: flex;
}
.intro .content .right li {
  list-style: none;
  margin-left: 10px;
}
.intro .content .right li a {
  color: white;
  transition: 0.4s;
}
.intro .content .right li a:hover{
  color: blue;
}

/* NAV  */
.nav {
  position: fixed;
  top: 38px;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 2px 3px 26px 5px rgb(202 202 202 / 25%);
}
.nav .btnBar {
  display: none;
}
.nav a {
  text-decoration: none;
  color: black;
}
.nav .content {
  display: flex;
  max-width: 1200px;
  padding: 20px 30px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.nav .menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0px;
}
.nav .menu span {
  display: inline-block;
  height: 17px;
  width: 2px;
  background-color: black;
}
.nav .menu a.menu_item {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  transition: 0.4s;
}
.nav .menu a.menu_item::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 100%;
  left: 0;
  transform: scale(0);
  transition: 0.4s;
}
.nav .menu a.menu_item:hover::after {
  transform: scale(1);
}
.nav .menu i {
  margin: 0 10px;
  transition: 0.4s;
}
.nav .menu i:hover {
  color: rgba(0, 0, 255, 0.87);
}
.menuhover_item {
  position: relative;
  padding: 10px 0px;
}
.menuhover_item > p {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.menuhover_item > p.user > i {
  margin-right: 0px;
}
.menuhover_item .layernoidung ul {
  display: block;
}
.layernoidung {
  position: absolute;
  background-color: #0e1b1f;
  top: 40px;
  visibility: hidden;
  opacity: 1;
  min-width: 140px;
  transform: scale(0.5);
  right: 0px;
}
.layernoidung ul{
  margin: 0px;
  padding: 0px;
}
.layernoidung::after {
  content: "";
  position: absolute;
  top: -12px;
  right: 4px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #0e1b1f;
}

.layernoidung ul li {
  padding: 10px 10px;
  border-bottom: 1px solid #d5d5d5;
  transition: 0.4s;
}
.layernoidung ul li:hover{
  background-color: #d5d5d5;
  
}
.layernoidung ul li:hover p{
  color: black;
}
.layernoidung ul li:last-of-type {
  border-bottom: none;
}
.menuhover_item:hover .layernoidung {
  visibility: visible;
  top: 45px;
  opacity: 1;
  transition: 0.4s;
  transform: scale(1);
}
.layernoidung p {
  white-space: nowrap;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  margin-bottom: 0px;
}

/* BANNER  */
.banner {
  position: relative;
  width: 100%;
  height: 550px; /* Đặt kích thước cho banner */
  overflow: hidden;
}

.banner video {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}

.banner-content h2 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 16px;
}
.banner-content p {
  color: rgb(218, 218, 218);
  font-size: 20px;
}

/* NEWS  */
.news {
  margin-bottom: 80px;
  margin-top: 80px;
}
.news .content {
  max-width: 1200px;
  margin: auto;
}
.news .content .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.news .content .row img {
  width: 100%;
}

.news .content .item {
  height: 390px;
  width: 285px;
  perspective: 300px;
}
.news .content .item .info {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.507);
  height: 390px;
  width: 265px;
  display: flex;
  align-items: center;
  transform: translateX(20px) translateY(20px) rotateY(-180deg);
  position: absolute;
  transition: 0.4s;
  padding: 0 10px;
}
.news .content .item .bg_img {
  background: url(images/spNew1.jpg);
  height: 390px;
  width: 285px;
  transform: translateX(20px) translateY(20px);
  display: flex;
  align-items: center;
  transition: 0.4s;
  backface-visibility: hidden;
  background-size: cover;
}
.news .content .item .bg_img2 {
  background: url(images/spNew2.jpg);
  background-size: cover;
}
.news .content .item .bg_img3 {
  background: url(images/spNew3.jpg);
  background-size: cover;
}
.news .content .item .bg_img4 {
  background: url(images/spNew4.jpg);
  background-size: cover;
}
.news .content .item:hover .bg_img,
.news .content .item:hover .bg_img2,
.news .content .item:hover .bg_img3,
.news .content .item:hover .bg_img4 {
  transform: translateX(20px) translateY(20px) rotateY(180deg);
}
.news .content .item:hover .info {
  transform: translateX(20px) translateY(20px) rotateY(0);
}

/* PRODUCTS */
.products,
.clients,
.about, .news , .guide{
  padding-top: 120px;
}
.products .content {
  max-width: 1200px;
  margin: auto;
}
.products .content h1,
.clients .content h1,
.about .content h1,
.news .content h1,
.guide .content h1 {
  text-align: center;
  font-size: 38px;
}
.products .content > p,
.clients .content > p,
.about .content > p,
.news .content > p {
  margin-top: 20px;
  margin-bottom: 70px;
  color: gray;
  letter-spacing: 12px;
  text-align: center;
}
.products .content .row .item {
  width: 26%;
  overflow: hidden;
  border: 1px solid gray;
  padding: 0px !important;
}
.products .content .row .itemSmall {
  position: relative;
  cursor: pointer;
}
.products .content .row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.products .content .row .item img {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
.products .content .row .itemSmall .img_back {
  position: absolute;
  top: 0;
  left: 100%;
  transition: 0.4s;
}
.products .content .row .itemSmall:hover .img_back {
  left: 0;
}
.products .content .row .item p {
  margin: 12px 0px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}
.products .content .row .item button {
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.products .content .row .item button:hover {
  background-color: black;
  color: white;
}



/* ABOUT  */
.about{
  margin-top: 80px;
}
.about .content {
  max-width: 1200px;
  margin: auto;
}
.about .row {
  display: grid;
  margin-bottom: 40px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.about .item {
  /* width: 400px; */
  height: 250px;
  margin: auto;
  position: relative;
  overflow: hidden;
  padding: 0px !important;
}
.about .item .chu {
  position: absolute;
  top: 0;
  width: 100%;
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.about .item img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.about .item .den {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.4s;
}
.about .item:hover img {
  transform: scale(1.2);
}
.about .item:hover .den {
  background-color: rgba(0, 0, 0, 0.37);
}
.about .item .layer1,
.about .item .layer2,
.about .item .layer3 {
  position: absolute;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgb(224, 224, 224);
  padding: 10px;
  left: -304px;
  transition: 0.5s;
}
.about .item .layer1 {
  top: 110px;
}
.about .item .layer2 {
  top: 160px;
  transition-delay: 0.2s;
}
.about .item .layer3 {
  top: 210px;
  transition-delay: 0.4s;
}
.about .item:hover .layer1,
.about .item:hover .layer2,
.about .item:hover .layer3 {
  left: 0px;
}

/* CLIENTS  */
.clients {
  margin-bottom: 200px;
}
.clients .content .row {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: rgb(163, 163, 163);
  max-width: 1100px;
  margin: auto;
}
.clients .content .row .item {
  width: 22%;
  padding: 30px 40px 30px 40px;
  transition: 0.4s;
}
.clients .content .row .item p:first-child {
  margin-bottom: 20px;
  font-size: 18px;
}
.clients .content .row .item p:last-child {
  color: black;
}
.clients .content .row .item span {
  font-size: 10px;
  letter-spacing: 6px;
}
.clients .content .row .item:hover {
  box-shadow: 1px 2px 34px -1px rgba(0, 0, 0, 0.55);
  transform: translateY(-5px);
  border-bottom: 2px solid black;
}

/* NEWINTRO  */
.newIntro {
  background-image: url("./images//bg_attach.webp");
  background-attachment: fixed;
  height: 50%;
  width: 100%;
  background-size: cover;
  filter: grayscale(80%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.newIntro .content p {
  font-size: 40px;
}
.newIntro .content {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.newIntro .content button {
  padding: 12px 40px;
  background-color: transparent;
  cursor: pointer;
  background-image: linear-gradient(to right, #f12711, #f5af19);
  border: none;
  border-radius: 8px;
  color: white;
}
.newIntro .content button i {
  margin-left: 20px;
}

/* FOOTER  */
.footer {
  padding: 70px 0px;
  background-color: #0e1b1f;
}
.footer .content {
  max-width: 1200px;
  margin: auto;
}
.footer .row {
  display: flex;
  justify-content: space-between;
}
.footer .row .item {
  width: 22%;
}
.footer .row .item h1,
.footer .row .item p.titile_footer {
  margin-bottom: 12px;
  color: white;
}
.footer .row .item p {
  color: rgba(255, 255, 255, 0.336);
}
.footer .row .item p.titile_footer {
  font-weight: bold;
  font-size: 30px;
}
.footer .row .item li {
  list-style: none;
  line-height: 28px;
}
.footer .row .item li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.336);
  font-size: 18px;
  transition: 0.4s;
}
.footer .row .item li a:hover {
  color: white;
}
.footer .row .item li i {
  font-weight: bold;
  margin-right: 18px;
}
.footer .row .item input {
  border: none;
  outline: none;
  padding: 10px 10px;
}
.footer .row .item form {
  display: flex;
}
.footer .row .item button {
  padding: 10px;
  background-color: rgb(255, 59, 59);
  border: none;
  cursor: pointer;
}

.guide{
  padding-bottom: 80px;
}

/* MODAL CART  */
#modalCart img{
  width: 100px;
}
@media screen and (max-width: 1200px){
  /* NEWS  */
  .news .content .row{
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    overflow: hidden;
  }
  .news .content .item{
    width: 100%;
  }
  .news .content .item .info{
    width: 100%;
    padding: 0;
  }
  .news .content .item .bg_img{
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  /* NEWS  */
  .news .content .row{
    grid-template-columns: repeat(2, 1fr);
  }
  .news .content .item{
    width: 100%;
  }
  .news .content .item .info{
    width: 100%;
    padding: 0;
  }
  .news .content .item .bg_img{
    width: 100%;
  }

  /* CLIENTS  */
  .clients .content .row{
    display: block;    
  }
  .clients .content .row .item{
    width: auto;
  }
/* FOOTER  */
  .footer .row {
    padding: 0 40px;
  }
  .footer .row .item input {
    width: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  nav.intro {
    /* max-width: 576px; */
  }
  .intro .content {
    width: auto;
    padding: 10px;
  }
  /* MENU  */
  .nav .menu {
    display: none;
  }
  .nav .btnBar {
    display: block;
  }
  .nav .btnBar i {
    display: inline-block;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 8px;
  }
  /* BANNER  */
  .banner {
    height: 300px;
  }
  .banner video {
    height: 200px;
  }
  .banner-content h2 {
    font-size: 20px;
  }
  .banner-content {
    font-size: 14px;
    transform: translate(-50%, -5%);
  }

  /* NEWS  */
  .news .content .row{
    display: block;
  }
  .news .content .item{
    margin: auto;
    margin-bottom: 30px;
  }

  /* PRODUCTS  */
  .products .content .row {
    display: block;
    padding: 0 100px;
  }
  .products .content .row .item {
    width: 100%;
    margin-bottom: 18px;
  }

  /* ABOUT  */
  .about .row {
    display: block;
    width: 50%;
    margin: auto;
  }
  .about .item {
    margin-bottom: 40px;
  }

  /* CLIENTS  */
  .clients .content .row {
    display: block;
    padding: 0 80px;
  }
  .clients .content .row .item {
    width: 100%;
    padding: 0;
    margin-bottom: 16px;
  }
  /* NEWS  */
  .newIntro .content {
    padding: 0 30px;
  }
  .newIntro .content p {
    font-size: 25px;
  }

  /* FOOTER  */
  .footer .content .row {
    display: block;
    padding: 0 30px;
  }
  .footer .content .row .item {
    width: 100%;
    margin-bottom: 30px;
  }
 
}

@media screen and (max-width: 576px) {
  .banner video {
    height: 200px;
  }
  .products .content .row {
    padding: 0 50px;
  }
  .clients .content .row {
    padding: 0 40px;
  }
}
